/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-jun-2021, 14:25:15
    Author     : Intel
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&amp;display=swap');
* {
    margin: 1px;
    padding: 1px;
    box-sizing: border-box;
}   
html,
body {
    flex-direction: row-reverse;
    margin: 1px;
    padding: 1px;
    font-family: 'Poppins', sans-serif;
}
.header{
    justify-content: center;
    align-items: center;
    background-color: #D7DBDD;
    width: 100%;
    height: 10vh;
}


.main{
    align-items: center;
     background-image: url(../Imagenes/micarro.jpg);
     
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 77vh;
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.Barraboton{
    
    display: flex;
    justify-content: center;
    align-items: center;
    background: #D7DBDD;
    opacity: 0,7px;
    border-radius: 2%;
    opacity: 0.7;
    width: 100%;
    height: 10vh;
}

.frase{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    text-align: left;
    font-family: 'Dancing Script', sans-serif;
    transition: 0.9s;
}
.conteimagen{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../Imagenes/nicol.PNG");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 25%;
    margin:40px;
    height: 50vh;

} 
.conteimagen2{
    background-color: #D7DBDD;
    opacity: 0.8;
    width: 50%;
    margin:40px;
    height: 50vh;
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

} 
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #D7DBDD;
    opacity: 0.9;
    width: 100%;
    height: 9vh;
}
h1{
    font-size: 20px;
    text-align: left;
    font-family: 'Dancing Script', sans-serif;
    transition: 0.9s;
}
h2{
    font-size: 20px;
    text-align: left;
    font-family: 'Dancing Script', sans-serif;
    transition: 0.9s;
}

.submit{
   color:#fff;
    width: 130px;
    margin: 40px;
    border: none;
    outline: none;
    height: 35px;
    background: #464747;
    opacity: 1,0;
    transition: 0.9s;
    font-family: 'Poppins', sans-serif;
}
.submit:hover {
    background: #7c7e7e;
}

.submit:active {
    transition: 0.2s;
    background: #18241e;
}

@media only screen and ( max-width: 600px) {
    .header{
        background-size: 100% 100%;

    }

    .main{
        flex-direction: column;
    }
    .conteimagen{
        width: 100%;

    }
    
    .contenedorT{
        display: none;
    }

}